<mat-toolbar>
    <button mat-mini-fab (click)="openButton()">
        <mat-icon *ngIf="!expandMenuButton">reorder</mat-icon>
        <mat-icon *ngIf="expandMenuButton">subject</mat-icon>
    </button>
    <span style="width: 20px;"></span>
    <span> Calculadora </span>
</mat-toolbar>

<div class="teste" style="
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    align-items: center;
    justify-content: space-around;">
    

   <app-calculadora ></app-calculadora> 
</div>
