<div class="calculadora">
    <mat-form-field class="input-style">
        <mat-label ex style="font-size: 22px;" >N°</mat-label>
        <input style="text-align: end;" matInput  placeholder="Ex. 123..." value="{{inputValue}}"
            (input)="updateValue($event)">
    </mat-form-field>

    <div class="button-area-calculadora">
        <br>
        <p class="display-button" *ngFor="let list_numbers of numbers">
            <button class="button-style" mat-raised-button *ngFor="let item of list_numbers"
                (click)="addNumInput(item.toString())">
                {{item}}
            </button>
        </p>
        <br>
    </div>
</div>