

.calculadora{
    display: flex;
    flex-direction: column;

    height: auto;
    width: max-content;
    background-color: rgb(167, 167, 167);

    padding: 20px;
    border-radius: 3%;
}

.button-area-calculadora{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    height: auto;
    width: 340px;
    background-color: rgb(209, 209, 209);
    
    border-radius: 2%;
}

.display-button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width:  -webkit-fill-available;  
}


.button-style{
    width: 70px;
    height: 40px;
    font-size: 30px;
    font-family: FiraCode;
}

.input-style{
    font: normal;
    text-align: end;
    font-size: 20px;
    font-family: FiraCode;
    width: -webkit-fill-available;
    height: max-content;
}

/* remover arrows to plus or minus item button */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
