

.calculadora{
    display: flex;
    flex-direction: column;

    height: auto;
    width: max-content;
    background-color: rgb(167, 167, 167);

    padding: 1%;
    border-radius: 3%;
}

.button-area-calculadora{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    height: auto;

    background-color: rgb(209, 209, 209);


    border-radius: 5%;
}

.display-button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width:  -webkit-fill-available;
    
}

/* remover arrows to plus or minus item button */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
